*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: sans-serif;
}

.title {
  margin: 14px;
}

.wrapper {
  padding: 24px;
  display: flex;
  flex-grow: 1;

  align-items: center;
  justify-content: space-around;
}

@media screen and (orientation: landscape) {
  .wrapper {
    flex-direction: row;
  }
}

@media screen and (orientation: portrait) {
  .wrapper {
    flex-direction: column;
  }
}

.options {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.value {
  display: flex;
  align-items: center;
}

.value__inp {
  display: inline-block;
  width: 60px;
  height: 36px;
  border-radius: 18px;
  padding-inline: 8px;
  text-align: center;
  font-size: 18px;
}

.value__inner {
  font-size: 18px;
  padding-left: 14px;
}

.value__inp::-webkit-outer-spin-button,
.value__inp::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.checkbox {
  display: inline-block;
}

.checkbox__inp {
  /* visibility: hidden; */
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  appearance: none;
}

.checkbox__inner {
  display: inline-block;
  position: relative;
  font-size: 18px;
  padding: 8px;
  padding-left: 74px;
  user-select: none;
}

.checkbox__inner::before {
  display: inline-block;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 36px;
  border-radius: 18px;
  background-color: #eaf0f6;
  transition: background-color 0.3s;
}

.checkbox__inner::after {
  display: inline-block;
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: white;
  left: 3px;
  top: 3px;
  transition: background-color 0.3s, left 0.3s;
}

.checkbox__inp:checked + .checkbox__inner::before {
  background-color: #324ff9;
}

.checkbox__inp:checked + .checkbox__inner::after {
  left: 27px;
}

.checkbox__inp:focus + .checkbox__inner::before {
  outline: 2px solid gray;
  outline-offset: 1px;
}
